/*global reset file */
@import "normalize.css";



/*body's css begins here*/
body {
	background: #818181 url(images/bggray.gif) no-repeat left top;
	font-family: 'Droid Sans', sans-serif;
	color:#fff;
	text-align:justify;
}

/*site wrapper code */
#wrapper {
	
	width:950px;
	margin:85px 0 0 120px;
	float:left;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Serif', serif;
}

/*title code*/
#title {
	height: 55px;
	width: 303px;
	float:left;
}

/*code to hide my title heading*/
h1 {
	text-indent:-9999px;
	float:left;
}

/*code to leave h1 heading link on the page*/
h1 a {
	display:block;
	background:url(images/logo3.png) no-repeat left top;
	float:left;
	height:55px;
	width:303px;
}

/*code for my navigation links*/
#navigation {
	float:left;
	width:638px;
	height:82px;
}

.navlinks li {
	list-style-type:none;
	display:block;
	float:right;
	width:100px;
	text-align:center;
	margin-top:30px;
}

.navlinks li a {
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
	text-transform:uppercase;
	font-size:16px;
	letter-spacing:-2px;
}

.navlinks li a:hover {
	color:#cc3300;
}


/*divider code*/
.divider {
	float:left;
	height:2px;
	width:911px;
	margin:30px; 0 30px 0;
	background:url(images/divider.png) no-repeat;
}

#featured {
	float: left;
	height:234px;
	width:950px;
}

#featured-text {
	float:left;
	height:234px;
	width:451px;
}

h2.featured-work {
	background:url(images/featured_work2.png) no-repeat;
	height:19px;
	width:231px;
	text-indent:-9999px;
	margin-bottom:20px;
}

h3 {
	margin-bottom:10px;
	font-size:25px;
	text-transform:capitalize;
}

#featured-image {
	float:right;
	width:484px;
	height:209px;
}

#featured-image img {
	background-color:#3399cc;
	padding:12px;
}

/*code for content boxes*/
.content-box-left {
	float:left;
	width:460px;
}

.content-box-right {
	float:right;
	width:460px;
}

h2.about-website {
	background:url(images/about2.png) no-repeat;
	height:14px;
	width:218px;
	text-indent:-9999px;
	margin-bottom:20px;
}
h2.samples {
	background:url(images/samples2.png) no-repeat;
	height:14px;
	width:224px;
	text-indent:-9999px;
	margin-bottom:20px;
}

.content-box-right img {
	background-color:#3399cc;
	float:left;
	padding:5px;
	margin:0 0 4px 4px;
}


.content-box-small {
	float:left;
	width:305px;
	margin-right:10px;
}

.content-box-small img {
	float:left;
	background-color:#3399cc;
	padding:5px;
	margin:0 10px 10px 0;
}

h2.get-in-touch {
	background:url(images/touch2.png) no-repeat;
	height:14px;
	width:143px;
	text-indent:-9999px;
	margin-bottom:20px;
}
h2.deviantart {
	background:url(images/deviant2.png) no-repeat;
	height:13px;
	width:130px;
	text-indent:-9999px;
	margin-bottom:20px;
}
h2.twitter {
	background:url(images/twitter2.png) no-repeat;
	height:13px;
	width:92px;
	text-indent:-9999px;
	margin-bottom:20px;
}

#footer {
	background:url(images/footer2.png) no-repeat;
	float:left;
	height:43px;
	width:950px;
	margin-top:40px;
}

#footer p {
	color:#000;
	text-align:center;
	margin-top:13px;
}
	
	
	
	
	
	/*coding for contact page*/
	
	#contact_main {
		width:910px;
		height:170px;
		float:left;
		padding: 20px;
		
	}
	.contacth1 {
		text-indent:15px;
		display:block;
		width:100%;
		
	}
	#contact_sidebar {
		width:359px;
		height:460px;
		float:right;
		background-color:#333;
	}
	
	#contact_form {
		width:550px;
		height:420px;
		float:left;
		padding:20px;
		background-image:url(images/contactbg.png);
	}
	
	
	
	
	
	input, textarea {
		padding:5px;
		border: solid 1px #e5e5e5;
		outline:0;
		width: 200px;
		background:#000000;
	}
	textarea {
		width:400px;
		max-width:400px;
		height:110px;
		line-height:150%;
	}
	input:hover, textarea:hover,
	input:focus, textarea-focus {
		border-color:#c9c9c9;
	}
	
	.form label {
		margin-left: 10px;
		color: #fff;
	}
	.submit input {
		width:auto;
		padding:5px 15px;
		background: #3399cc;
		border:0;
		color:#ffffff;
	}
	


