/*global reset file */
@import "normalize.css";

/*styling for pages begins here - some general styling first*/

html {
	background-image:url('../images/bgsquare.gif');
	background-repeat:repeat;
	
}
body {
    margin: 0;
    font-family: Calibri;
    font-size: 1em;
}



#wrapper {/*The wrapper holds all of the content itself*/
    width: 60.000em; /*960px;*/
    margin: 0 auto;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;/*This will line up the headings nicely */
    padding: 0.8em 1.25em 0em; /*15px 20px 0; - This will line up the headings nicely */
	font-family: 'Droid Serif', serif;
}

p {
    margin: 0 20px;/*This will line up the paragraphs nicely */
	font-family: 'Droid Sans', sans-serif;
}

/*header styling for all pages*/
header {
    background-color: #fff;
	height:140px;
}

.headerimg {
    width: 376px;
    height: 90px;
    float: left;
        
}

#navcontainer ul {
	list-style-type: none;
	margin:0;
	padding:0;
	text-align:center;
}

#navcontainer ul li {
	display:inline;
}

#navcontainer ul li a {
	font-size:1.2em;
	text-decoration: none;
	padding: .6em .5em;
	color:fff;
	background-color:#2773ed;
}

#navcontainer ul li a:hover {
	color:#fff;
	background-color:#2774ed;
}
/*end of header styling*/









/*styling for footer on all pages*/
footer {
    background-color: #2773ed;
    width: 60.000em; /*960px;*/
    float: right;
}

#footerreviews {
	width:320px;
	height:200px;
	float:left;
	
		
}

.thumbnail {
	float:left;
	width: 32px;
	margin: 0 0 15px 10px;
	padding: 5px;
}

.clearboth {
	clear: both;
}

#footersocial {
	width:320px;
	height:200px;
	float:left;
	
}

#footercontact {
	width:320px;
	height:200px;
	float:right;
	
}

#footercontact ul {
	list-style-type: none;
	margin:0;
	padding:2px;
}

.footerp {
	text-align:right;
}
/*end of footer styling*/




/*styling for home page*/
#cta {
	
	background-color:#fff;
	background-image:url('../images/cta_image.png');
	width:100%;
	height:238px;
    float: left;
	color:#2773ed;
}
#cta ul {
	color:#000;
}

/*code for CSS button*/

.button {
	
    padding: 1% 4.0%;
    background: -moz-linear-gradient(top,  #ffaa14,  #ffb32d);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffaa14), to(#ffb32d));
    color: #000;
    -webkit-border-radius: 1.2%;
    -moz-border-radius: 1.2%;
    border-radius: 1.2%;
    border:  solid 1px #252525;
	position:relative;
	left:650px;
}




#subcta {
    background-color: #fff;
	width:100%;
    float: right;
}

#left {
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	background-image:url('../images/subcta.png');	
	width:620px;
	height:299px;
	float:left;
}

#right {
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;
	background-image:url('../images/subcta2.png');
	width:299px;
	height:	299px;
	float: right;
}
.leftbutton {
	
    padding: 1% 4.0%;
    background: -moz-linear-gradient(top,  #ffaa14,  #ffb32d);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffaa14), to(#ffb32d));
    color: #000;
    -webkit-border-radius: 1.2%;
    -moz-border-radius: 1.2%;
    border-radius: 1.2%;
    border:  solid 1px #252525;
	position:relative;
	left:310px;
	top:170px;
}
.rightbutton {
	
    padding: 1% 4.0%;
    background: -moz-linear-gradient(top,  #ffaa14,  #ffb32d);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffaa14), to(#ffb32d));
    color: #000;
    -webkit-border-radius: 1.2%;
    -moz-border-radius: 1.2%;
    border-radius: 1.2%;
    border:  solid 1px #252525;
	position:relative;
	left:50px;
	top:170px;
}

/*end of home page styling*/




/*styling for services page*/

#services_cta {
	width:100%;
	height:300px;
	float:right;
	background-color:#fff;
}

.services_img {
float: left;
width: 297px;
border: 0px;
margin: 0 11px 15px 11px;

}


#services_left {
	width:60%;
	height:300px;
	float:left;
	background-color:#fff;
}

#services_left ul {
	list-style-type:none;
}

#services_right {
	width:40%;
	height:300px;
	float:right;;
	background-color:#fff;
}

#services_right ul {
	list-style-type:none;
}

.samplebutton {
	
    padding: 1% 4.0%;
    background: -moz-linear-gradient(top,  #ffaa14,  #ffb32d);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffaa14), to(#ffb32d));
    color: #000;
    -webkit-border-radius: 1.2%;
    -moz-border-radius: 1.2%;
    border-radius: 1.2%;
    border:  solid 1px #252525;
	position:relative;
	left:320px;
	bottom:40px;
}

/*end of styling for services page*/




/*styling for about page*/

#aboutus {
	width:100%;
	height:300px;
	background-color:#fff;
}

.aboutimg {
	margin-left:8px;
	margin-right:8px;
	width:328px;
	height:	199px;
	float:left;
}

#aboutowner {
	width:100%;
	height:300px;
	background-color:#fff;
}

.ownerimg {
	margin-left:8px;
	margin-right:8px;
	width:328px;
	height:199px;
	float: left;	
}

/*end of about page styling*/


/*styling for blog page*/

#blogtop {
	width:100%;
	height:120px;
	background-color:#fff;	
}

#blog {
	width:100%;
	height:300px;
	background-color:#fff;
}

.blogimg {
	margin-left:8px;
	margin-right:8px;
	width:328px;
	height:	219px;
	float:left;
}

#blog2{
	width:100%;
	height:300px;
	background-color:#fff;
}

.virusblog {
	margin-left:8px;
	margin-right:8px;
	width:328px;
	height:	219px;
	float:left;
}

#blog3{
	width:100%;
	height:300px;
	background-color:#fff;
}

.virusblog3{
	margin-left:8px;
	margin-right:8px;
	width:328px;
	height:	219px;
	float:left;
}

/*end of blog page styling*/



/*product page styling*/

#producttop {
	width:100%;
	height:120px;
	background-color:#fff;	
}

#products{
	width:100%;
	height:300px;
	background-color:#fff;
}


.productimg {
	margin-left:8px;
	margin-right:8px;
	width:328px;
	height:	219px;
	float:left;
}

#products2{
	width:100%;
	height:300px;
	background-color:#fff;
}

.productimg2 {
	margin-left:8px;
	margin-right:8px;
	width:328px;
	height:	219px;
	float:left;
}



/*end of product page styling*/


/*styling for contact page*/

#contactpage {
	width:100%;
	height:600px;
	background-color:#fff;
}

#contactinfo {
	width:300px;
	height:500px;
	float:left;
	background-color:#FFF;
}

#form {
	width:660px;
	/*height:500px;
	float:right;
	background-color:#fff;*/
	
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

/*styling for the labels*/
label {
    /*width: 95px;
    margin: 11px 20px 0 0;
	float: left; 
    clear: left; 
	text-align: right; 
    font-size: 18px; 
    color: #2773ed; 
	text-transform: uppercase; 
    text-shadow: 0px 1px 0px #040624;*/
	
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

/*styling for the input boxes*/
input {
	/*width: 200px; 
    height: 35px; 
    padding: 5px 20px 0px 20px; 
    margin: 0 0 20px 0; 
	background: #2773ed;
	background: -moz-linear-gradient(top, #5796fc 0%, #2773ed 20%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5796fc), color-stop(20%,#2773ed));
	border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #040624;
    -webkit-box-shadow: 0px 1px 0px #040624;*/
	
    color: #ffffff; 
    text-transform: uppercase; 
    text-shadow: 0px -1px 0px #040624; 
	
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

/*styling for the placeholder text inside the boxes*/
	input::-webkit-input-placeholder  {
    	color: #ffffff; 
        text-shadow: 0px -1px 0px #38506b;  
	}
	input:-moz-placeholder {
	    color: #000000; 
        text-shadow: 0px -1px 0px #38506b; 
	}

/*styling for the text area box*/
textarea {
	/*width: 200px; 
    height: 150px; 
    padding: 12px 20px 0px 20px; 
    margin: 0 0 20px 0; 
	background: #5E768D;
	background: -moz-linear-gradient(top, #5796fc 0%, #2773ed 20%); /* firefox */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5796fc), color-stop(20%,#2773ed)); /* webkit */
	/*border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #040624;
    -webkit-box-shadow: 0px 1px 0px #040624;
	font-family: 'Open Sans', sans-serif; 
    font-size: 15px; 
    color: #ffffff; 
    text-transform: uppercase; 
    text-shadow: 0px -1px 0px #040624; */
	
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
	
	height:90px;
}
/*styling for the placeholder text inside the textarea box*/
	textarea::-webkit-input-placeholder  {
    	color: #ffffff; 
        text-shadow: 0px -1px 0px #040624;  
	}
	textarea:-moz-placeholder {
	    color: #ffffff; 
        text-shadow: 0px -1px 0px #040624; 
	}
	
input:focus, textarea:focus {
	/*background: #fce29c;
	background: -moz-linear-gradient(top, #5796fc 0%, #2773ed 20%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5796fc), color-stop(20%,#2773ed)); */
	
	border: 2px solid #900;
}

/*styling for the Submit button*/
input[type=submit] {
	width: 175px; 
    height: 50px; 
    float: right; 
    padding: 10px 15px; 
    margin: 0 15px 0 0;
	-moz-box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	background: -moz-linear-gradient(top, #5796fc 0%, #2773ed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5796fc), color-stop(100%,#2773ed));
	cursor: pointer;
}

/*end of contact page styling*/




 /* Media Queries */

/*Tablet Portrait size to standard 960*/
@media screen and (min-width:768px) and (max-width:959px) {
    body {font-size: .75em;}
	#wrapper {width: 93.75%;}
	body {background-image: none;}
	h1, h2, h3, h4, h5, h6 { font-size:85%; }
	footer {width: 93.75%;}
}

/*Mobile Landscape size to Tablet Portrait*/
@media only screen and (min-width:480px) and (max-width:767px) {
    body {font-size: .65em;}
    #wrapper {width: 93.75%;}
	body {background-image: none;}
	h1, h2, h3, h4, h5, h6 { font-size:80%;}
	#navbar ul li a{width: 3em;}
	footer {width: 93.75%;}


}

/*Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width:479px) {
    body {font-size: .55em;}
	#wrapper {width: 83.75%;}
	body {background-image: none;}
	h1, h2, h4, h5, h6 { font-size:80%;}
	#navbar {padding: 2% 10% 0 10%;}
    #navbar ul { width: 100%; }
    #navbar ul li a {width: 4em;}
	footer {width: 83.75%;}
}