/*general styling code */
body {
    font-family: 'BenchNine', sans-serif;
    font-size: 1em;
    color: #fff;
    background-color: #000;
    background-image: url(../images/bg.png);
}

html {
	height: 100%;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    background-image: url(../images/fauxbg.gif);
    background-repeat: repeat-y;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 1.56% 1.56% 0 1.56%;
    font-family: 'Cinzel Decorative', cursive;
    color: #ead7d7;
    text-shadow: #000 0.1em 0.1em 0.2em;
}

a:link {color:#cc0505;}
a:visited {color:#ee2020;}  
a:hover {color:#ee2020;}  
a:active {color:#ee2020;}  

p {
    margin: 0 2.08% 0 12.08%; }

/*end of general styling code*/






/*code for the header info (logo, navbar) */

header {
    width: 100%;
    height: 20%;
}

.headerimg {
    width: 43.75%;
    height: 12%;
    float: left;
        
}

/*navigation code*/

#navbar {
    padding: 3% 4.37% 0 0;
    
}

#navbar ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    
}

#navbar ul li {
    display: inline;
    
}

#navbar ul li a {
    float: left;
    width: 5em;
    text-decoration: none;
    padding: 0.2em .4em;
    color: #fff;
    background-color: #cc0505;
    border-right: 1px solid #0e0e0e;
}

#navbar ul li a:hover {
    color: #fff;
    background-color: #ee2020;
}

/*end of navigation code*/


/*end of header code */





/* code for the Call to Action information */
.calltoaction {
    width: 61.77%;
    background-color: #0e0e0e;
    float: left;
}

.ctaimg {
    float: left;
    padding: 0 1.04% 2% 0; /*top right bottom left*/ 
}





/*code for the thumbnail gallery */

#thumbnails ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#thumbnails ul li {
    display: inline;
    list-style: none;
    float: left;
    padding: 0 0 0 2.10%;
    text-align: center;
}

.rows {
    -webkit-columns:100px 3; /* Chrome */
    -moz-columns:100px 3; /* Firefox */
}





/*code for CSS button (Read More...)*/

.button {
    padding: 2.5% 4.6%;
    background: -moz-linear-gradient(top,  #f2e9e9,  #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#ee2020), to(#cc0505));
    color: #fff;
    -webkit-border-radius: 1.2%;
    -moz-border-radius: 1.2%;
    border-radius: 1.2%;
    border:  solid 1px #cc0505;
}

/*end of Call to Action Code */





/*side bar code */
aside {
    width: 38.22%;
    background-color: #0e0e0e;
    float: right;
}


/*social section code*/
#social {
    width: 79.01%;
    margin: 10.85% 8.65% 3.85% 3.65%;
    border: 1px solid #cc0505 ;
    float: right;
    text-align: right;
}

#social h4 {
    padding-right: 1.6%;
}

#social ul {
    list-style-type: none;
    text-decoration: none;
    padding-right: 4.6%;
}





/*latest news code */
#news {
    width:79.01%;
    margin: 10.85% 8.65% 3.85% 3.65%;
    border: 1px solid #cc0505 ;
    float: right;
}

#news h5 {
    text-align: right;
    padding-right: 1.6%;
}

#news ul {
    list-style-type: none;
    text-decoration: none;
    padding-right: 1.6%;
}
/*end of sidebar code*/


/*bottom half of page code*/
#bottom {
    width: 100%;
    height: 50%;
    float: right;
    
}





/*table div code (table and contact form)*/   
#table {
    width: 76.45%;
    height: 550px;
    margin: 60px auto; 
    border-radius: 3%; 
    -moz-border-radius: 3%; 
    -webkit-border-radius: 3%;
    background-color: #cc0505;
}

h6#contact_header {
	font-size: 1.5em; 
    color: #f4b300; 
    text-transform: uppercase;
	text-align: center; 
    margin: 0 0 35px 0; 
    text-shadow: 0px 1px 0px #f2f2f2;
}


/*table code (just table)*/

#pricing_table {
    float: left;
	margin: 20px;
	width: 39.58%;
	text-align: left;
	border-collapse: collapse;
}

#pricing_table th {
	padding: 5%;
	font-weight: normal;
	font-size: 1.5em;
	color: #000;
	background: #f4b300;
}

#pricing_table td {
	padding: 3%;
	background: #cc0505;
	border-top: 1px solid #fff;
	color: #fff;
}

#pricing_table tbody tr:hover td {
	background: #ee2020;
}

.tablefooter {
    text-align: center;
}

/*end table code (just table)*/





/*contact form code*/
#contact {
    float: right;
	width: 47%; 
    padding: 10px 20px;
	 
}

fieldset {
    border: none;
}

/*styling for the labels*/
label {
	float: left; 
    clear: left; 
    margin: 11px 20px 0 0; 
    width: 29%;
	text-align: right; 
    font-size: 1em; 
    color: #f4b300; 
	text-transform: uppercase; 
}

/*styling for the input boxes*/
input {
	width: 44.85%; 
    height: 35px; 
    padding: 5px 20px 0px 20px;
    margin: 0 0 20px 0; 
	background: #fff;
	border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;
    -webkit-box-shadow: 0px 1px 0px #f2f2f2;
    font-size: 0.7em; 
    color: #000000; 
    text-transform: uppercase; 
    text-shadow: 0px -1px 0px #334f71; 
}


/*styling for the text area box*/
textarea {
	width: 44.85%; 
    height: 170px; 
    padding: 12px 20px 0px 20px; 
    margin: 0 0 20px 0; 
	background: #fff;
	border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;
    -webkit-box-shadow: 0px 1px 0px #f2f2f2;
    font-size: 0.9em; 
    color: #000000; 
    text-transform: uppercase; 
    text-shadow: 0px -1px 0px #334f71; 
}


	
input:focus, textarea:focus {
	background: #f4b300;
	background: #f4b300;
	
}

/*styling for the Submit button*/
input[type=submit] {
    width: 44.42%;
    height: 20%;
    float: right;
    padding: 10px 20px;
    margin: 0 15px 0 0;
    -moz-box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    border: 1px solid #556f8c;
    background: -moz-linear-gradient(top, #ffd258 0%, #f4b300 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd258), color-stop(100%,#f4b300)); /* chrome */
    cursor: pointer;
}




/*footer code */
footer {
    width: 100%;
    height: 6%;
    float: right;
    background-color:#0e0e0e;
    opacity: 0.5;
}

footer p {
    text-align: right;
    padding: 1.04% 1.04% 1.04% 0; 
}

/*end of footer*/
/*end of bottom half*/





 /* Media Queries */

/*Tablet Portrait size to standard 960*/
@media screen and (min-width:768px) and (max-width:959px) {
    #wrapper {width: 93.75%;}
    body {background-image: none;}
    p {font-size: 0.8em;}
    h1, h2, h3, h4, h5, h6 { font-size:85%; }
    .calltoaction {width: 60%;}
    aside {width:  32%;}
    #table {width: 81%;}
}

/*Mobile Landscape size to Tablet Portrait*/
@media only screen and (min-width:480px) and (max-width:767px) {
    #wrapper {width: 93.75%;}
    body {background-image: none; font-family: 'Droid Sans', sans-serif;}
    p {font-size: 0.7em;}
    h1, h2, h3, h4, h5, h6 { font-size:80%; font-family: 'Droid Sans', sans-serif;}
    #navbar ul li a{width: 3em;}
    .calltoaction {width: 60%;}
    .ctaimg {display:none;}
    #thumbnails ul li {width: 50%; font-size: 0.7em;}
    aside {width:  32%;}
    #social {font-size: 0.7em;}
    #news {font-size:  0.7em;}
    #table{width: 100%; background-color: transparent;}
    #pricing_table {width: 100%;}
    #pricing_table th { font-size: 0.8em; }
    #pricing_table td { font-size: 0.7em; }
    h6#contact_header { font-size: 1em; text-shadow: 0px 0px 0px; }
    #contact { width: 100%; }
    input[type=submit] {margin: 0 auto;}
}

/*Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width:479px) {
    #wrapper {width: 83.75%;}
    body {background-image: none; font-family: 'Droid Sans', sans-serif;}
    p {font-size: 0.7em; text-align: center;}
    h1, h2, h4, h5, h6 { font-size:80%; font-family: 'Droid Sans', sans-serif;}
    h2 {text-align: center;}
    h3 {display: none; font-family: 'Droid Sans', sans-serif;}
    #navbar {padding: 2% 10% 0 10%;}
    #navbar ul { width: 100%; }
    #navbar ul li a {width: 4em;}
    .headerimg{display: none;}
    .calltoaction {width: 83.75%;}
    .ctaimg {display:none;}
    .rows {-moz-columns:100px 1; -webkit-columns:100px 1; }
    #thumbnails ul li {display: none;}
    aside{float: none; width: 100%}
    #social {font-size: 0.7em; text-align: left;}
    #social h4 {text-align: right;}
    #news {font-size:  0.7em; }
    footer p {text-align: center;}  
    #table{width: 100%; background-color: transparent;}
    #pricing_table {width: 100%;}
    #pricing_table th { font-size: 0.8em; }
    #pricing_table td { font-size: 0.7em; }
    h6#contact_header { font-size: 0.8em; text-shadow: 0px 0px 0px; }
    #contact { width: 100%; }
    input[type=submit] {margin: 0 auto;}     
}